body {
  background-color: #151515;
}

#header-container{ 
  padding: 40px 0px 10px 40px;
  border-bottom: 2px solid #000;
  background: url(../../images/BGGradientTile.gif) 0 -400px;
}
#pages-container{
  background: #151515;
}
p.site-description {
  color: #754C29;
  color: #000;
}

#container{
  border-top: 2px solid #F85931;
  border-top: 2px solid #800000;
  background: white;
}
#footer-container{
  border-top: 10px solid #F85931;
  border-top: 10px solid #800000;
}
.three-column li.column a {
  color: #A1C8CE;
}
.logo-image {
  position: absolute;
  left: 90px;
  top: -36px;
}
h1.site-name a {
  color: #EFE4BB;
  color: #FFEFD5;
}
p.site-description {
  color: #754C29;
  color: #000;
}

body {
  min-width: 1001px;
}
ul.post-list {
  display: table-row;
  padding: 1em 0em;
  width: 920px;
}
ul.post-list li {
  width: 180px;
  height: 180px;
  overflow: hidden;
  float: left;
  padding: 0px 10px 40px 10px;
  display: table-cell;
}
.post-list li.title-block {
  width: 300px;
  left: -10px;
}

.post-list h4 {
  background: white; 
  text-align: center;
  font-family: Arial;
  font-size: 20;
  letter-spacing: 1px;
}

.pagination a {
  float: none;
  text-align: right;
}


.post-brief-image-container {
    display:block;
    height:130px;
    overflow:hidden;
    width:180px;
}

.post-brief-image {
    background:#ccc;
    display:table-cell; /* can't do table-cell because of portrait images */
    font-size:2.5em;
    height:130px;
    line-height:.75em;
    width:180px;
    vertical-align:middle;
}

.post-brief-text {
    background:#ccc;
    color:#ccc;
    display:block;
    font-size:2.5em;
    height:130px;
    line-height:.75em;
    overflow:hidden;
    width:180px;
    font-family: NewCicleFina, 'Josefin Sans Std Light', Arial, Helvetica, sans-serif;
    color: #800000;
}
.post-brief-text p {
  font-size:inherit;
}

.post-title {
    display:block;
    padding-top:10px;
}

dt {
  font-weight: bold;
  float: left;
}
dt:after {
  content: ':';
}
dd {
  padding-left: 5em;
}

.training-title {
  font-family: Arial;
  letter-spacing: 1px;
  color: #800000;
}

.simpletablestyle {
  background-color: #E6E7E8;
  clear: both;
  float: left;
  border-width: 0px;
  border-spacing: 1px;
  width: 100%;
  display: table;
  border-collapse: separate;
  line-height: 1.5;
  color: #555;
}

.simpletablestyle .header {
  background: url(../../images/magnolia/bkg-blkheader.png) black repeat-x top left;
  height: 31px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-align: left;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-collapse: separate;
  border-spacing: 2px;
  line-height: 1.5;
  font: 12px "Lucida Sans Unicode"
}

.simpletablestyle th {
  font-size: 15px;
  font-weight: normal;
  padding: 0 10px 0 5px;
  border-bottom: #999 dotted 1px;
}

.simpletablestyle .oddRow {
  background-color: #F4F3F3;
  padding-left: 6px;
}

.simpletablestyle td {
  height: 3em;
  padding: 5px 5px;
  font-size: 14px;
  padding: 5px 5px;
  font: 12px "Lucida Sans Unicode";
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
  border-spacing: 2px;
  line-height: 1.5;
}